@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">


    <section class="h-100">
        <div class="container h-100">
            <div class="d-flex align-items-center justify-content-center h-100">
                <div class="d-flex flex-column">
                    <canvas id="c" width='600' height='600' ></canvas>
                </div>
            </div>
        </div>
    </section>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/js/fabric.js"></script>
<script src="~/js/site.js"></script>
<script src="~/js/chat.js"></script>

</div>
