
@keyframes example-Color {
    from {
        background-color: red;
    }

    to {
        background-color: white;
    }
}

/* The element to apply the animation to */


.Call {
    animation-duration: 5s;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation: blink 2s infinite; /* Safari and Chrome */
}
/*.Attend{
    background:
}*/
@keyframes blink {
    from {
        background: red;
    }

    to {
        background: white;
    }
}

@-webkit-keyframes blink {
    from {
        background: red;
    }

    to {
        background: white;
    }
}
