@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
    string fileName = DateTime.Now.ToShortDateString();
}

@section RenderPageStyles
{
    <style>

        .close, .edit {
            display: none !important
        }
    </style>
}
<main class="content">
    <div class="container-fluid p-0 h-100">
        <div class="row h-100">
            <div class="col-xl-12 col-xxl-12 d-flex h-100">
                <div class="mr-3 mt-3 mb-3 ml-3  square-grid full-size floor h-100" id="containment-wrapper">
                    <a class="position-relative" id="toggle_fullscreen">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-maximize align-middle"><path d="M8 3H5a2 2 0 0 0-2 2v3m18 0V5a2 2 0 0 0-2-2h-3m0 18h3a2 2 0 0 0 2-2v-3M3 16v3a2 2 0 0 0 2 2h3"></path></svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
@section RenderPageScripts
{
    <script src="~/js/chat.js?@Html.Raw(@fileName)"></script>
    <script>

        $(function () {
                 @if (ViewData["FloorData"] != null && !string.IsNullOrEmpty(ViewData["FloorData"].ToString()))
                   {
                        <text>
                            floor = @Html.Raw(ViewData["FloorData"]);
                         </text>
                }
                else
                {
                        <text>
            floor = [];
                         </text>
                }
             $.each(floor || [], function (index, ele) {
                 func_list = {
                     "text": render_text,
                     "room": render_room,
                     "box": render_box
                 }
                 func = func_list[ele.objectType]
                 if (func)
                     func(ele);
             })


        var IDLE_TIMEOUT = 5; //seconds
        var _idleSecondsCounter = 0;

        document.onkeypress = function () {
            _idleSecondsCounter = 0;
        };
        document.onclick = function () {
            _idleSecondsCounter = 0;
        };
        document.onmousemove = function () {
            _idleSecondsCounter = 0;
        };

        @*window.setInterval(CheckIdleTime, 1000);
        function CheckIdleTime() {
            _idleSecondsCounter++;
            console.log(_idleSecondsCounter)
            var oPanel = document.getElementById("toggle_fullscreen");
            if (_idleSecondsCounter >= IDLE_TIMEOUT) {
                $(oPanel).trigger('click')

            }
        }
        });*@

    </script>
} 