@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
@section RenderPageStyles
{
    <style>

        .close , .edit  {
            display:none !important
        }
    </style>
}
<main class="content">
    <div class="container-fluid p-0 h-100">
        <div class="row h-100">
            <div class="col-xl-12 col-xxl-12 d-flex h-100">
                <div class="w-100 h-100">
                    <div class="mr-3 mt-3 mb-3 ml-3  square-grid full-size floor h-100" id="containment-wrapper">
                        @*<a class="nav-icon js-fullscreen d-none d-lg-block  full-icon" href="#">
                        <div class="position-relative">
                            <i class="align-middle" data-feather="maximize"></i>
                        </div>                        <a id="btnFullScreen" class="">
                    </a>*@
                        <a id="btnFullScreen" class="nav-icon js-fullscreen d-none d-lg-block position-relative full-icon" href="#">
                            <div class="position-relative">
                                <i class="align-middle main-f-icon" data-feather="maximize"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</main>
@section RenderPageScripts
{
    <script>

        $(function () {
               @if (ViewData["FloorData"] != null) {
                <text>
            floor = @Html.Raw(ViewData["FloorData"]);
                 </text>
                 }
             $.each(floor || [], function (index, ele) {
                 func_list = {
                     "text": render_text,
                     "room": render_room,
                     "box": render_box
                 }
                 func = func_list[ele.objectType]
                 if (func)
                     func(ele);
             })
       

        var IDLE_TIMEOUT = 10; //seconds
        var _idleSecondsCounter = 0;

        document.onkeypress = function () {
            _idleSecondsCounter = 0;
        };
        document.onclick = function () {
            _idleSecondsCounter = 0;
        };
        document.onmousemove = function () {
            _idleSecondsCounter = 0;
        };

        window.setInterval(CheckIdleTime, 1000);

        function CheckIdleTime() {
            _idleSecondsCounter++;
            var oPanel = document.getElementById("SecondsUntilExpire");
            if (oPanel)
                oPanel.innerHTML = (IDLE_TIMEOUT - _idleSecondsCounter) + "";
            if (_idleSecondsCounter >= IDLE_TIMEOUT) {
                $('.feather').trigger('click')

            }
        }
        });

    </script>
} 